/*
======================================================
    Contact Section
======================================================
*/
/* ---------- Media Queries for Contact Section ----------*/
/*  Small Screens*/
@media  ( 576px <  width < 768px) {
    /* No Styles yet*/
    #contact .left {
        border-top-right-radius: inherit ;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0 ;
        border-bottom-left-radius: 0;
    }

    #contact .left-back {
        border-top-right-radius: inherit ;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0 ;
        border-bottom-left-radius: 0;
    }
    
    #contact .right {
        border-top-right-radius: 0 ;
        border-top-left-radius: 0;
        border-bottom-right-radius: inherit ;
        border-bottom-left-radius: inherit;
    }


    .contact-details p,  .social {
        margin-bottom: 1.5rem !important;
    }

    .contact-details h2, .contact-form h2 {
        margin-bottom: 2rem !important;
    }
    
    .social .fs-5 {
        margin-bottom: 0.5rem !important;
    }
}

