/*
======================================================
    Contact Section
======================================================
*/
/* ---------- Media Queries for Contact Section ----------*/

/* Extra Large Screens*/
@media (width >= 1400px) {

    /**/
}


/*  Large Screens*/
@media (1200px <= width < 1400px) {

    /**/
}


/* Medium Screens*/
@media ( 992px <= width < 1200px) {

    .section-heading {
        font-size: 2.5rem !important;
        margin-bottom: 1.5rem !important;
    }
}


/* Small Screens*/
@media (768px <= width < 992px) {
    .heading {
        margin-bottom: 2.5rem !important;
    }

    .section-heading {
        font-size: 2rem !important;
        margin-bottom: 1.2rem !important;
    }
}





/*  Extra Small Screens*/
@media  ( 576px <  width < 768px) {

    .heading {
        margin-bottom: 2rem !important;
    }

    .section-heading {
        font-size: 1.6rem !important;
        margin-bottom: 1rem !important;
    }

    .lead {
        font-size: 1.1rem !important;
    }

    #contact .left {
        border-top-right-radius: inherit ;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0 ;
        border-bottom-left-radius: 0;
    }

    #contact .left-back {
        border-top-right-radius: inherit ;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0 ;
        border-bottom-left-radius: 0;
    }
    
    #contact .right {
        border-top-right-radius: 0 ;
        border-top-left-radius: 0;
        border-bottom-right-radius: inherit ;
        border-bottom-left-radius: inherit;
    }


    .contact-details p,  .social {
        margin-bottom: 1.5rem !important;
    }

    .contact-details h2, .contact-form h2 {
        margin-bottom: 2rem !important;
    }
    
    .social .fs-5 {
        margin-bottom: 0.5rem !important;
    }

    .contact-submit {
        font-size: 0.95rem !important;
    }
}



/* Very Extra Small Screens*/
@media (576px >= width) {

    .heading {
        margin-bottom: 1.5rem !important;
    }

    .section-heading {
        font-size: 1.4rem !important;
        margin-bottom: 1rem !important;
    }

    .lead {
        font-size: 0.9rem !important;
        margin-bottom: 0.5rem !important;
    }


    #contact .row {
        width : 90% !important;
        margin: auto !important;
    }

    #contact .left {
        border-top-right-radius: inherit ;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0 ;
        border-bottom-left-radius: 0;
    }

    #contact .left-back {
        border-top-right-radius: inherit ;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0 ;
        border-bottom-left-radius: 0;
    }
    
    #contact .right {
        border-top-right-radius: 0 ;
        border-top-left-radius: 0;
        border-bottom-right-radius: inherit ;
        border-bottom-left-radius: inherit;
    }


    .contact-details p,  .social {
        font-size: 0.95rem !important;
        margin-bottom: 1.5rem !important;
    }

    .contact-details h2, .contact-form h2 {
        font-size: 1.2rem !important;
        margin-bottom: 2rem !important;
    }
    
    .social .fs-5 {
        margin-bottom: 0.5rem !important;
        font-size: 0.95rem !important;
    }

    .contact-submit {
        font-size: 0.75rem !important;
    }
}






/* ---------- Media Queries for Contact Section ----------*/

/*
======================================================
    End Of Contact Section
======================================================
*/





/*
======================================================
    Modal
======================================================
*/

/* ---------- Media Queries for Location Modal  ----------*/





/* ---------- Media Queries for Location Modal   ----------*/

/* Very Large Screens*/
@media (width >= 1400px) {
    /* No Styles yet*/
    dialog { 
        width: 50% !important;
        margin: auto !important;
    }
    
    dialog .section-heading {
        font-size: 1.6rem !important; 
    }

    .location-modal .location-map {
        width: 100%;
        object-fit: cover;
        display: inline-block;
        margin: auto;
        border-top-right-radius: 0.1rem;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 2.5rem;
        border-top-left-radius: 2.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .location-modal .close-location-modal.location-modal .location-map {
        padding: 0.7rem 0;
    }
}



/* Large Screens*/
@media  ( 1200px <= width < 1400px) {
    /* No Styles yet*/
    dialog { 
        width: 60% !important;
        margin: auto !important;
    }
    
    dialog .section-heading {
        font-size: 1.5rem !important; 
    }

    .location-modal .location-map {
        width: 100%;
        object-fit: cover;
        display: inline-block;
        margin: auto;
        border-top-right-radius: 0.1rem;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 2.5rem;
        border-top-left-radius: 2.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .location-modal .close-location-modal.location-modal .location-map {
        padding: 1rem 0;
    }
}


/* Medium Screens*/
@media  ( 992px <= width < 1200px) {
    /* No Styles yet*/
    dialog { 
        width: 60% !important;
        margin: auto !important;
    }
    
    dialog .section-heading {
        font-size: 1.4rem !important; 
    }

    .location-modal .location-map {
        width: 100%;
        object-fit: cover;
        display: inline-block;
        margin: auto;
        border-top-right-radius: 0.1rem;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 2.5rem;
        border-top-left-radius: 2.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .location-modal .close-location-modal.location-modal .location-map {
        padding: 0.85rem 0;
    }
}


