@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #0071A8;
    --secondary-color: #14BBE2;
    --accent-color: #5EDCD4;
    --text-color: #FFFFFF;
    --background-color: #222222;
    --ensurance-btn: #5EDCD4;
    --ensurance-card-bg: #186be87d;
    --new-color : #14BBE2 ;
    
}


/* ==================== CSS RESET ==================== */
html {
    overflow-x: hidden;
}

body {
    background-color: #222222;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 5rem 0;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
/* ==================== End Of CSS RESET ==================== */




/* ==================== Global Styles ==================== */
.container {
    position: relative;
}

.g-section {
    position: relative;
}


/* Global Headings */
.section-heading {
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
/* End of Global Headings */

.lead {
    width: 90%;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.lead strong {
    display: inline-block;
    margin-top: 0.6rem;
}

/* ==================== End Of Global Styles ==================== */




/*
======================================================
    Contact Section
======================================================
*/
/* Contact whole box */
.contact-row {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Box Headings*/
.contact-form h2, .contact-details h2 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
}


/* --------- Right Column ---------*/

/* Column itself */
.right {
    background-color: #222222b6;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
}

/* Each Form input Element container*/
.form-group {
    margin-bottom: 2rem;
}

/* Each Form input Element*/
.form-group .form-control {
    border: none;
    border-bottom: 1px solid #5edcd42c;
    border-radius: 0;
    padding: 1rem 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #c7c7c7bd;
    caret-color: #fff; /* Color of the cursor in the input field */
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* Form Input Place Holder*/
.form-group .form-control::placeholder {
    color: #ffffff69;
    font-size: small;
    letter-spacing: 0.1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Text area placeholder*/
.form-group #message::placeholder {
    top: 80%;
    transition: all 0.4s ease-in-out;
}

/* Form input on click */
.form-group .form-control:focus {
    background: transparent;
    outline: none;
    border-bottom: 0.5px solid var(--ensurance-btn);
    box-shadow: none;
}    

/* Forom input placeholder on click */
/* Shift placeholder text to left-top corner when the input is focused or not empty */
.form-control:focus::placeholder, .form-group #message:focus::placeholder ,
.form-control:not(:placeholder-shown)::placeholder {
    color: #ffffff1a;
    top: 5%; 
    left: 0;
    
}


/* Form Submit Button*/
.contact-submit {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);

    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--text-color);

    letter-spacing: 0.3rem;
}

/* Form Submit Button on hover*/
.contact-submit:hover {
    background-position: right center; 
}

/* --------- End Of Right Column ---------*/


/* --------- left Column ---------*/
/* Column itself*/
.left {
    position: relative;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

/* Absolute Div for the background image*/
.left-back {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    overflow: hidden;
}

/* Background Image Overlay*/
.left-back::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 1;
}

/* Content Container*/
.left-content {
    height: 100%;
    display: flex;
    flex-direction: column; /* To make the Location button at bottom */
}

.contact-details p {
    line-height: 2.3rem;
}

/* Contact Details Icons*/
.contact-details .contact-icons {
    display: inline-block;
    margin-right: 0.5rem;
}


/* Social Media Icons*/
.social-icons {
    display: flex;
    justify-content: left;
    align-items: center;

}

.social-icons a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-right: 2rem;
}

/* Location Button at bottom*/
.location {
    margin-top: auto;
}
/* --------- End Of Left Column ---------*/






/*
======================================================
    End Of Contact Section
======================================================
*/